{% extends "base_layout.html" %}
{% block title %}About{% endblock %}
{% block head %}
        {{ super() }}
{% endblock %}
{% block content %}
<!--<center><h1>About Us</center></h1>-->
<h3><strong>Who runs this company?</strong></h3>
<p></p><p>Currently there are four people working on Vorlux Hosting. You can read more <a href="index.php?page=employees" title="About Our Staff">about our staff here</a>. Scott is the founder of this company, as well as a <a href="http://funtoo.org" alt="Funtoo Linux">Funtoo Linux</a> developer. Nathan is Head of Web Content, Troy is Head of Hardware, and Stephanie is Head of Social Media.</p>
<h3><strong>Why start a hosting company?</strong></h3>
<p></p><p>In the time of technology, and so many people learning about GNU/Linux and server administration, there is a lot of room for anyone to run their own servers. Not everyone has
the hardware to do so, and some people prefer to have an off site server. Starting a hosting company is something we believe is a smart step to enable everyone to have this option readily
available to them with out the need to do so on their own internet connection. It allows for a 24/7 server to run for whatever they please. With running anything from <a
href="http://en.wikipedia.org/wiki/Internet_Relay_Chat" title="IRC">IRC</a> to <a href="http://minecraft.net" title="Minecraft">Minecraft</a>, hosting their own website or hosting
their projects maintained by a private git server. We want everyone to have the server of their dreams at an affordable price. With a fixed price, you always know how much your server
will cost.</p>
<h3><strong>How did the name Vorlux come up?</strong></h3>
<p></p><p>The name 'Vorlux' comes from a close friend of mine who passed away in 2011. We shared the dream of starting our own hosting company, but never decided on a name. He went by
the name Vorlin on the Internet, and out of respect for him and our shared vision, I decided on the name Vorlux for '<strong>Vorl</strong>in Lin<strong>ux</strong>'. It is simply
short for Vorlin and we offer GNU/Linux server hosting.</p>
<h3><strong>Our mission statement</strong></h3>
<p></p><p>Our mission statement is to bring affordable, reliable, easy hosting to everyone. With that in mind, we really aim to implement features that our customers want, while
keeping things at an affordable price and easy to maintain. We also offer support for those who aren't so sure what they're doing, as well as giving the freedom of hosting to those who
do know what they're doing. If you're a veteran server admin, or someone interested in learning how to maintain a server, Vorlux Hosting is for you.</p>
<h3><strong>Social Media</strong></h3>
<p></p><p>Like us on <a href="https://facebook.com/vorluxhosting" title="Vorlux Hosting on Facebook" target="_blank">Facebook</a>!
<br />Follow us on <a href="https://twitter.com/vorluxhosting" title="Vorlux Hosting on Twitter" target="_blank">Twitter</a>!
<br />RSS for our <a href="http://blog.vorluxhosting.com" title="Vorlux Hosting Blog" target="_blank">blog</a>!</p>
{% endblock %}

