<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<title>Contact Us</title>
<center><h1>Contact Us</center></h1>
<p>Unfortunately at this time, our mail server has had hardware failure (it is a server from 2005) and we will need to replace a fan and a harddrive. You can still contact us, please contact: <strong>Scott</strong>, at <font color="#FF5241">anak1n@funtoo.org</font>, who is lead of this company. Include 'Vorlux Hosting' in the subject line. Thank you, and sorry for the inconvience. We are working on getting newer hardware for the company, but it costs money!</p>
<center><p><h3><strong>Support IRC</strong></h3></p></center>
<center><iframe src="https://kiwiirc.com/client/irc.tattoine.tk/?&theme=cli#vorlux" style="border:0; width:100%; height:450px;"></iframe></center>

