{% extends "base_layout.html" %}
{% block title %}About Our Staff{% endblock %}
{% block head %}
        {{ super() }}
{% endblock %}
{% block content %}
<center><h1>The Employees Behind Vorlux Hosting</h1></center>
<p>Here is where you'll find who is behind this company and what their roles are.</p>
<p><table>
<tr width="15%">
<td><img src="/images/people/scott.jpg" align="left" alt="Scott" height="85" width="85" style="border:2px solid #224E70"></td><td align="left">&nbsp;&bull; <strong>Scott - Head of Server Administration/Linux Administration and Founder:</strong>
<br />&nbsp;Scott is the founder of Vorlux Hosting and some of his responsibilities include maintaining the host server, keeping it up to date with the latest stable &nbsp;software as well as handling kernel upgrades. He also deals directly with customer service as well as deploying customer servers and making sure that there &nbsp;is the best service provided.</td>
</tr>
</table><br />
<table><tr width="15%">
<td><img src="/images/people/nathan.png" align="left" alt="Nathan" height="85" width="85" style="border:2px solid #224E70"></td><td align="left">&nbsp;&bull; <strong>Nathan - Head of Web Content:</strong>
<br />&nbsp;Nathan is head of looking over what content hits the web. With all the changes and editing, he looks over it and helps decide which content needs to be &nbsp;changed, and which content will hit the main webpages, i.e blog posts, this website, any other web pages in the future. He also deals directly with customer &nbsp;service and deploying customer servers.</td>
</tr></table><br />
<table width="100%"><tr width="15%">
<td><img src="/images/people/troy.jpg" align="left" alt="Troy" height="85" width="85" style="border:2px solid #224E70"></td><td align="left">&nbsp;&bull; <strong>Troy - Head of Hardware</strong>
<br />&nbsp;Troy is the head of hardware. He looks for the best hardware to handle the extensive load that the host server will handle as well as troubleshooting and &nbsp;helping fix hardware issues. He also deals directly with customer service and deploying customers servers and offering help when needed.</td>
</tr></table><br />
<table><tr>
<td>&nbsp;&bull; <strong>Stephanie - Head of Public Relations</strong>
<br />Stephanie is head of maintaining the social networking aspects, such as our <a href="http://blog.vorluxhosting.com" title="Vorlux Hosting Blog" target="_blank">blog</a>, <a href="https://facebook.com/vorluxhosting" title="Vorlux Hosting Facebook" target="_blank">Facebook</a>, and <a href="https://twitter.com/vorluxhosting" title="Vorlux Hosting Twitter" target="_blank">Twitter</a>. She also deals directly with customer service and deploying customers servers.</td>
</tr>
</table>
</p>
{% endblock %}
