<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<title>Plans</title>
<center><h1>Plans</h1></center>
<br />
<p>We offer a wide variety of plans from a full virtual private server (<a href="http://en.wikipedia.org/wiki/Virtual_private_server" target="_blank" title="Wikipedia: VPS">VPS</a>) to an <a href="http://openvz.org" target="_blank" title="OpenVZ">OpenVZ container</a>. 
<br />We are offering all major GNU/Linux distributions from <a href="http://ubuntu.com" target="_blank" title="Ubuntu Linux">Ubuntu Server</a> to <a href="http://gentoo.org" target="_blank" title="Gentoo Linux">Gentoo</a>. 
<br />If you have any questions you can <a href="index.php?page=contact" title="Contact Us">contact us</a>.</p>
<p>Here is a full list of all the GNU/Linux distributions we are offering:
<br />
<table align="center" width="100%" cellpadding="4" cellspacing="3">
	<tr>
	<td><img src="/logos/archlinux.png" height="32" width="32" alt="Arch Linux" /> <a href="https://www.archlinux.org/" target="_blank" title="Arch Linux">Arch Linux</a></td>
	<td><img src="/logos/centos.png" height="32" width="32" alt="CentOS" /> <a href="http://www.centos.org/" target="_blank" title="CentOS">CentOS</a></td>
	<td><img src="/logos/debian.png" height="32" width="32" alt="Debian" /> <a href="http://www.debian.org/" target="_blank" title="Debian">Debian</a></td>
</tr>
	<tr>
	<td><img src="/logos/fedora.png" height="32" width="32" alt="Fedora" /> <a href="http://fedoraproject.org/" target="_blank" title="Fedora">Fedora Linux</a></td>
	<td><img src="/logos/funtoo.png" height="32" width="32" alt="Funtoo" /> <a href="http://funtoo.org/" target="_blank" title="Funtoo Linux">Funtoo Linux</a></td>
	<td><img src="/logos/gentoo.png" height="32" width="32" alt="Gentoo" /> <a href="http://gentoo.org/" target="_blank" title="Gentoo Linux">Gentoo Linux</a></td>
</tr>
	<tr>
	<td><img src="/logos/open-suse.png" height="32" width="32" alt="OpenSUSE" /> <a href="http://www.opensuse.org/en/" target="_blank" title="OpenSUSE">OpenSUSE</a></td>
	<td><img src="/logos/sabayon.png" height="32" width="32" alt="Sabayon" /> <a href="http://sabayon.org/" target="_blank" title="Sabayon">Sabayon Linux</a></td>
	<td><img src="/logos/slackware.png" height="32" width="32" alt="Slackware" /> <a href="http://www.slackware.com/" target="_blank" title="Slackware">Slackware Linux</a></td>
</tr>
	<tr>
	<td><img src="/logos/ubuntu.png" height="32" width="32" alt="Ubuntu" /> <a href="http://ubuntu.com" target="_blank" title="Ubuntu">Ubuntu Linux</a></td>
	</table></p>	
<p>You may also request any distribution not listed here!</p>
<p>We are currently offering a maximum of 4GB of RAM per VPS, but plan on offering more than that at some point. Our current plans and pricing are USD and at a fixed price a month. These are the plans available:
<table align="center" width="100%" cellpadding="4" cellspacing="3">
<tr align="center">
	<th>Space</th>
	<th>RAM (Memory)</th>
	<th>Price per month</th>
</tr>
<tr align="center">
	<td>25 GB</td>
	<td>512 MB</td>
	<td>$15.00</td>
</tr>
<tr align="center">
	<td>50 GB</td>
	<td>1 GB</td>
	<td>$30.00</td>
</tr>
<tr align="center">
	<td>75 GB</td>
	<td>2 GB</td>
	<td>$45.00</td>
</tr>
<tr align="center">
	<td>100 GB</td>
	<td>4 GB</td>
	<td>$60.00</td>
	</tr>
</table></p>
<p>We are willing to work with you to get you the VPS you would like, i.e if you want more RAM with a 20 GB hard drive, you will be able to do that. If you want 40 GB hard drive with 512 MB of RAM, you will be able to do that as well.</p>
<center><p><h1>Support</h1></p></center>
<p>We offer a range of support for those needing it. If you need support due to an issue with your server, you can <a href="index.php?page=contact" title="Contact Us">contact us</a> and we 
will get to you as soon as possible. If you need support in maintaining your server, we offer support for that as well. If you'd like someone to maintain your server for you, you will 
need to provide the content, but that will cost an extra $5 a month. Someone will keep your server secure, updated, and upload the content you provide.</p>		

